<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996690076592-jup3amq3jeoltqqmcplfs4017bh3anoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996690076592-jup3amq3jeoltqqmcplfs4017bh3anoi</string>
	<key>API_KEY</key>
	<string>AIzaSyBnTGwkdeQ5YSwkPXRx15hYPhfjp0Aqjjk</string>
	<key>GCM_SENDER_ID</key>
	<string>996690076592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>orgIdentifier.iosApp</string>
	<key>PROJECT_ID</key>
	<string>retro-mario-ionic</string>
	<key>STORAGE_BUCKET</key>
	<string>retro-mario-ionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996690076592:ios:2b8021aa3167ee1f556c75</string>
	<key>DATABASE_URL</key>
	<string>https://retro-mario-ionic.firebaseio.com</string>
</dict>
</plist>